/* açıklama satırı */
body{
    background-color: #FFF5E1;
    font-family: 'Roboto', sans-serif;
    list-style-position: inside;  
    text-align: center;
    padding: 20px;
    line-height: 1.3;
    color: #1A2130;
}

.footer{
    padding: 120px;
}

h1,h2,h3 {
    color: #405D72;
}

.red-background {
    background-color: red;
}